/* CheckOutModal.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #000; /* Black background */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Glassy background color */
  backdrop-filter: blur(10px); /* Blur effect for glassy look */
  color: #fff; /* Text color */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.formGroup {
  width: 100%;
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #fff; /* Input text color */
  background-color: rgba(255, 255, 255, 0.1); /* Input background color */
}

.orderSummary {
  list-style-type: none;
  padding: 0;
}

.orderItem {
  margin-bottom: 10px;
}

.totalPrice {
  font-weight: bold;
  margin-top: 10px;
}

.submitButton {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
